<div class="app-container">
  <div class="url-container">
    <input type="text" class="url-input" placeholder="URL" />
    <button class="go-button">GO</button>
  </div>

  <div class="content-container">
    <div class="header">
      <h2 class="title">Management Tool</h2>
      <div class="search-container">
        <div class="search-input-wrapper">
          <i class="search-icon">🔍</i>
          <input
            type="text"
            class="search-input"
            placeholder="Find by name..."
            (input)="onSearch()"
          />
        </div>
      </div>
      <div class="view-controls">
        <button
          class="view-button grid-view-button"
          [class.active]="viewMode === 'grid'"
          (click)="setViewMode('grid')"
        >
          <i class="grid-icon">⊞</i>
        </button>
        <button
          class="view-button list-view-button"
          [class.active]="viewMode === 'list'"
          (click)="setViewMode('list')"
        >
          <i class="list-icon">≡</i>
        </button>
        <button class="add-button" (click)="openCreateModal()">
          <i class="add-icon">+</i>
        </button>
      </div>
    </div>

    <div class="view-container">
      @if(viewMode === 'list') {
      <app-material-list></app-material-list>

      <!-- <app-list-view 
          *ngIf="viewMode === 'list'" 
          [items]="items"
        ></app-list-view> -->
      } @else {
      <!-- <app-grid-view 
          *ngIf="viewMode === 'grid'" 
          [items]="items"
          (itemSelected)="onItemSelected($event)"
        ></app-grid-view> -->
      }
    </div>
  </div>

  <!-- <app-create-modal 
    *ngIf="showCreateModal" 
    (close)="closeCreateModal()" 
    (save)="saveNewItem($event)"
  ></app-create-modal> -->
</div>
